.igredientCard {
  max-width: calc(50% - 24px);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  transition: opacity ease-in .3s;
}

.igredientCard:hover {
  opacity: .6;
}

.ingredientName {
  text-align: center;
}


